img {
  margin: 20px;
}


img.gallery {
    float: left;
	height: auto;
	width: 300px;
}

@media screen and (max-width:600px) {
    img.gallery {
        float: none;
        width: 330px;
        height: auto;
    }
    
