h1 {
	font-family: 'Montserrat';
}


p {
	font-family: 'Montserrat';

}

b {
	font-family: 'Montserrat';

}

p:hover {
    background-color: red;
    color: white
}
p {
	transition: all .2s ease-in-out;
}

p.correct:hover {
	background-color: green;
	padding: 4px;
}

p:hover {
	background-color: red;
	padding: 4px;
}