h1 {
	font-family: 'Montserrat';
}


p {
	font-family: 'Montserrat';

}

p:hover {
    background-color: red;
    padding: 4px;
    color: white
}

p.correct:hover {
	background-color: green;
}