h1 {
	font-family: 'Montserrat';
}


@keyframes grow {
	from {
		color: red;
	}

	to {
		color: black;
	}

}


h1 {
	animation-name: grow;
	animation-duration: 2s;
	animation-iteration-count: 99999;
	animation-timing-function: ease-in;

}

b {
	font-family: 'Montserrat';

}

p>span {
	font-family: 'Montserrat';
	transition: all .2s ease-in-out;
}


p>span:hover {
	background-color: red;
	color: white;
	padding: 10px;
}





p.correct>span:hover {
	background-color: green;
	padding: 10px;
}
