h1.title {
    color: white;
    background-color: black;
}

.scrollToTop{
	width:120px; 
	height: 140px;
	padding:0px; 
	text-align:center; 
	text-decoration: none;
	position:fixed;
    right: 5px;
    bottom: 5px;
	display: none;
	background: url('top.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	opacity: 0.5;
    transition: 0.5s;
    transition-timing-function: ease-in-out
}


.navbar {
    list-style-type: none;
    margin: 0;
    margin-top: -77px;
    padding: 10px;
    text-align: left;
    display: block;
    color: white;
}

.navbar li {
    padding: 10px;
    color: white;
    text-align: left;
    display: block;
}

.navbar a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 35px; 
    text-align: left;
    display: block;
}

img.michael {
    display: block;
    margin-left: 20px;
    margin-right: auto;
    width: 150px;
    border-radius: 50%;
}

img.paintings {
    margin: 100px;
    margin-left: 20px;
    width: 600px;
    height: auto;
    align-items: center;
    
    
}

h1 {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin-bottom: 50px;
}

h1.about {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
}

h1.about, h2.about {
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;  
}

h2.about {    
    margin-left: 20px;
    margin-bottom: 100px;
}



header {
    background-color: black;
    color: white;
    padding: 0px;
    display: inline-block;
    width: 100%;
    margin-top: -34px;
    font-size: 25px;
    
}



body {
    background-color:rgba(255, 255, 255, 1)
    
}


p.year {
    margin-left: 20px;
    margin-bottom: -70px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


